*{
    font-family: helvetica;
}

body{
    padding: 0;
    margin: 0;

    background-color: #2E8A99;
}

.veliki-container{
    background-color: #2E8A99;

    display: flex;
    flex-direction: column;
}

    /*.navigacija{
        margin: 0.4em;
        padding: 0%;
    
        font-size: 2em;

        display: flex;
    }stara navigacija

    @media (max-width: 450px) {
        .navigacija {
          flex-direction: column;
        }
    }
    
        .dugme-stranica{
            flex: 1;

            background-color: #0E2954;
            
            color: white;
            text-decoration: none;
            text-align: center;
        }

        .dugme-stranica:hover{
            flex: 1;

            background-color: white;
            
            color: #0E2954;
            text-decoration: none;
            text-align: center;
        }

        .dugme-stranica:active{
            flex: 1;

            background-color: white;
            
            color: #0E2954;
            text-decoration: none;
            text-align: center;
        }

       stara navigacja je sve ovo */

    .glavni-sadrzaj{
        background: rgb(14,41,84);
        background: linear-gradient(131deg, rgba(14,41,84,1) 0%, rgba(255,255,255,0) 77%);
        border-radius: 1% 10% 1% 1%;

        margin: 0 0.4em 0.4em 0.4em;
        padding-left: 0.8em;  /*20px*/
        padding-right: 0.8em;

        font-size: 30px;
        color: white;

        display: flex;
        flex-direction: column;
    }

        .h1-div{
            flex: 1;
            align-self: center;
        }

        .kajak-tekst{
            flex: 1;
            /*align-self: center;*/
            /*margin: 0.4em;*/
            text-align: justify;
        }

        .video1-div{
            flex: 1;
            align-self: center;
        }

        .div-slika{
            flex: 1;
            align-self: center;
        }

        @media (max-width: 450px) {
            #video1{
                width: 215px;
                height: 135px;
            }

            .glavni-sadrzaj{
                font-size: 24px;
            }

            #img-slikaTrka{
                width: 328px;
                height: 218.28px;
            }
        }

        @media (min-width: 451px) and (max-width: 900px) {
            #video1{
                width: 420px;
                height: 270px;
            }

            #img-slikaTrka{
                width: 459.2px;
                height: 305.6px;
            }
        }

        @media (min-width: 901px) and (max-width: 1200px) {
            #img-slikaTrka{
                width: 574px;
                height: 382px;
            }
        }

        
        

        