*{
    font-family: helvetica;
}

body{
    padding: 0;
    margin: 0;

    background-color: #2E8A99;

}

.veliki-container{
    background-color: #2E8A99;

    display: flex;
    flex-direction: column;
}



    .navigacija{
        margin: 0.4em;
        padding: 0%;
    
        font-size: 2em;

        display: flex;
    }

    @media (max-width: 450px) {
        .navigacija {
          flex-direction: column;
        }
    }
    
        .dugme-stranica{
            flex: 1;

            background-color: #0E2954;
            
            color: white;
            text-decoration: none;
            text-align: center;
        }

        .dugme-stranica:hover{
            flex: 1;

            background-color: white;
            
            color: #0E2954;
            text-decoration: none;
            text-align: center;
        }

        .dugme-stranica:active{
            flex: 1;

            background-color: white;
            
            color: #0E2954;
            text-decoration: none;
            text-align: center;
        }

        

    .glavni-sadrzaj{
        background: rgb(14,41,84);
        background: linear-gradient(131deg, rgba(14,41,84,1) 0%, rgba(255,255,255,0) 77%);
        border-radius: 1% 10% 1% 1%;

        margin: 0.4em;
        padding: 20px;

        font-size: 30px;
        color: white;

        display: flex;
        flex-direction: column;
    }

        .h1-kajak{
            flex: 1;

            align-self: center;
        }

        .kajak-tekst{
            flex: 1;

            align-self: center;
            margin: 0.4em;

            text-align: justify;
        }

        .video1-div{
            flex: 1;

            align-self: center;

            /*z-index: 1;*/
        }

        @media (max-width: 450px) {
            #video1{
                width: 215px;
                height: 135px;
            }
        }

        @media (min-width: 451px) and (max-width: 900px) {
            #video1{
                width: 420px;
                height: 270px;
            }
        }

   

/**/

        
        

        